@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	color: var(--text-color);
	font-family: var(--font-main);
	font-size: 18px;
	font-weight: 400;
  	font-style: normal;
	text-wrap: balance;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}