:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: "Raleway", sans-serif;

	--text-color: #262137;
	--accent: #E0BC72;
	--grey: rgba(0, 39, 101, 0.05);


    --laptop-size: 1199px;
	--tablet-size: 1199px;
	--tablet-middle-size: 959px;
	--mobile-size: 768px;
}