.slider {
    margin-top: 130px;
    &__title {
        margin-left: 70px;
        margin-bottom: 75px;
    }

    &__images {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-left: 45px;
        padding-right: 45px;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }

    &__wrapper {
        padding-top: 32px;
    }

    &__img--before {
        border-top-left-radius: 100px;
    }

    &__img--after {
        border-bottom-right-radius: 100px; 
    }

    &__col {
        position: relative;
    }

    &__comment {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 170px;
        height: 67px;
        background-color: var(--text-color);
        color: white;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        font-weight: 700;
        top: -32px;
    }
}


@include tablet-middle {
    .slider {
        margin-top: 100px;

        &__title {
            margin-bottom: 50px;
        }

        &__img--before {
            border-top-left-radius: 80px;
        }
    
        &__img--after {
            border-bottom-right-radius: 80px; 
        }

        &__comment {
            font-size: 16px;
            width: 140px;
            height: 50px;
            line-height: 50px;
            top: -23px;
        }
    }
}

@include mobile {
    .slider {
        margin-top: 70px;

        &__images {
            width: 100%;
            flex-wrap: wrap;
            padding: 0;
            justify-content: center;
        }

        &__img--before {
            border-top-left-radius: 60px;
            width: 70%;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    
        &__img--after {
            border-bottom-right-radius: 60px; 
            width: 70%;
            margin: 0 auto;
        }
    }
}

@include mobile-small {
    .slider {

        &__title {
            margin-left: 0;
        }

        &__images {
            margin-left: 0;
            margin-right: 0;
        }

        &__img--before {
            border-top-left-radius: 40px;
        }
    
        &__img--after {
            border-bottom-right-radius: 40px; 
        }
    }
}
